# Operating System Files
.DS_Store
Thumbs.db

# IDE & Editor Files
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv
venv/
ENV/
build/
dist/
*.egg-info/

# Compiled Executables & Binaries
*.out
*.exe
*.o
*.a
*.pyc

# Logs & Temporary Files
*.log
scratch/
